*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'IBM Plex Mono', monospace;
}

.container{
  max-width: 90%;
  margin: 0 auto;
}

a{
  display:inline-block;
  cursor:pointer;
  text-decoration: none;
}

a:hover{
  text-decoration:underline;
}

.img-fluid{
  max-width: 100%;
}

.logo {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-links a.active {
    text-decoration: underline;
}

/* Apply underline on hover */
.nav-links a:hover {
    text-decoration: underline;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 6px;
    font-size: 16px;
    border: 1px solid black;
}

.cart-icon, .login-icon {
    margin: 0 10px;
    cursor: pointer;
}

/*********************************************************** Products Dashboard Section ***************************************************/
#sidebar {
    background-color: #333;
    color: white;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 35px;
}

ul.nav {
    list-style: none;
    padding: 0;
    margin-top: 12%;
}

ul.nav li {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

ul.nav li:hover {
    background-color: #555;
}

ul.nav li.active {
    background-color: #4CAF50;
}

ul.nav li.active:hover {
    background-color: #45a049;
}

ul.nav li a {
    text-decoration: none;
    color: white;
}

ul.nav li.active a {
    color: #f2f2f2;
}

/******************************************************* Articles Section *******************************************/
.container-article {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
.btn-container {
    display: flex;
    justify-content: center;
}
.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-edit {
    background-color: #3498db;
    color: #fff;
    margin-right: 5px;
}
.btn-delete {
    background-color: #e74c3c;
    color: #fff;
}