* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

a {
  display:inline-block;
  cursor:pointer;
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

.img-fluid {
  max-width: 100%;
}

.logo {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-links a.active {
    text-decoration: underline;
}

.nav-links a:hover {
    text-decoration: underline;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 6px;
    font-size: 16px;
    border: 1px solid black;
}

.cart-icon, .login-icon {
    margin: 0 10px;
    cursor: pointer;
}

/*********************************************************** Admin Dashboard Section ***************************************************/
#sidebar {
    background-color: #333;
    color: white;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 35px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
    padding: 20px;
}

.block-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    flex: 1;
    min-width: calc(50% - 20px);
    box-sizing: border-box;
}

ul.nav {
    list-style: none;
    padding: 0;
    margin-top: 12%;
}

ul.nav li {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

ul.nav li:hover {
    background-color: #555;
}

ul.nav li.active {
    background-color: #4CAF50;
}

ul.nav li.active:hover {
    background-color: #45a049;
}

ul.nav li a {
    text-decoration: none;
    color: white;
}

ul.nav li.active a {
    color: #f2f2f2;
}

/********************************************************************Footer-Section*****************************************************************/
footer {
    background-color: whitesmoke;
    padding:50px 0px;
}
  
footer .container {
    padding: 20px 0px;
}
  
h3 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
}
  
footer p {
    font-size: 17px;
    line-height: 1.33;
}
  
.form {
    margin-top: 5px;
}
  
.input-email {
    outline: 0px;
    border:0.5px solid #444444;
    padding: 10px 40px 10px 10px;
    font-family: inherit;
    margin-bottom: 10px;
}
  
.btn-dark {
    font-family: inherit;
    outline: none;
    border: 0.5px solid #444444;
    padding: 10px 30px;
    cursor: pointer;
    background-color: #444444;
    color: white;
}
  
footer .row {
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.footer-options {
    border-bottom: 1px solid #dee2e6;
}
  
footer .col {
    margin-bottom: 40px;
}
  
footer h4 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #444444;
}
  
footer ul li {
    list-style: none;
}
  
footer ul a {
    font-size: 18px;
    color: #000000;
    line-height: 2;
}
  
footer ul a:hover {
    color: #949494;
}
  
.social-media {
    color: #b2b2b2;
    margin-right: 20px;
    font-size: 24px;
}
  
.copyright {
    font-size: 20px;
    letter-spacing: 0.17px;
    color: #b2b2b2;
}